* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    max-width: 800px;
    width: 100%;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}
.post_btns {
    display: flex;
    gap: 5px;
}
.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.page {
    border: 1px solid teal;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.navbar__links {
    margin-left: auto;
}

